.distributor-container {
    display: flex;
    flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: center;

}
.distributor-element {
    flex-direction: row;
    width: 100px;
    height: 100px;
    margin: 100px;
    align-self: center;
    background-color: red;
}